@model NutriAnimal.Web.ViewModels.Category.CreateCategoryInputModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h1 class="text-center">Create category</h1>
    <div class="container-fluid rounded bg-light w-25">
        
        
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center">
                        <label asp-for="Name" class="control-label text-dark h5  mt-3 mb-3 "></label>
                        <input asp-for="Name" class="form-control shadow p-3 mb-2 bg-white rounded" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <input type="submit" value="Create" class="btn btn-info" />
                    </div>
                </form>
            </div>
        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
