@model List<NutriAnimal.Web.ViewModels.Product.CreateProductInputModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron  rounded w-75 pb-3 container-fluid">

    <h1 class="display-4 text-center">Welcome to NutriAnimal!</h1>
    <h3 class="text-center ">The best store for nutrition supplements.</h3>
    <hr class="nutri-hr">
    @if (this.User.Identity.IsAuthenticated)
    {
        for (int i = 0; i < Model.Count(); i += 3)
        {
            <div class="row  mb-4 pb-5 pt-4 d-flex justify-content-center">
                @for (int j = i; j < i + 3; j++)
                {
                    if (j < Model.Count())
                    {
                        <div class="col-md-4">
                            <div class="image-holder d-flex justify-content-center">

                                <img class="img-thumbnail " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4BA2_hLsMp78iqtZZiCvIfQksNlI2KQqhWZCsUhqxwKoMDy6F6A" alt="...">

                            </div>
                            <p>@Model[j].Name</p>
                            <div>
                                <a  asp-action="Details" asp-route-id="@Model[j].Id" class="btn btn-info">
                                    Details
                                </a>
                            </div>

                        </div>

                    }
                    else
                    {
                        <div class="nutri-empty-div col-md-4">
                        </div>
                    }
                }

            </div>
            <hr class="nutri-hr">
        }

    }






</div>
