@model NutriAnimal.Web.ViewModels.Receipt.ReceiptDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Receipt Details</h1>

<div class="container-fluid w-50 bg-light rounded">

    <div class="products-holder  pt-2 ">
        @foreach (var order in Model.Orders)
        {
            <div class="product d-flex justify-content-between">
                <div class="product-name w-75">
                    <h4>@order.ProductName</h4>
                </div>
                <div class="product-quantity-and-price d-flex justify-content-between w-25">
                    <h4 class="text-left w-50">x@(order.Quantity)</h4>
                    <h4 class="text-right w-50">$@(order.ProductPrice.ToString("F2"))</h4>
                </div>
            </div>
        }
    </div>
    <div class="finish-order-holder  mx-auto d-flex justify-content-between">
        <div class="form-holder w-25">
            <h3 class="text-left">Delivery</h3>
        </div>
        <div class="price-holder w-25">
            <h4 class="text-right ">$@Model.DeliveryPrice.ToString("F2")</h4>
        </div>
    </div>
   

    
    <hr class="nutri-hr">
    <div class="finish-order-holder  mx-auto d-flex justify-content-between">
        <div class="form-holder w-25">
            <h3 class="text-left">Total</h3>
        </div>
        <div class="price-holder w-25">
            <h3 class="text-right">$@(@Model.DeliveryPrice+@Model.Orders.Sum(order => order.ProductPrice * order.Quantity))</h3>
        </div>
    </div>
    <hr class="nutri-hr">
    <div class="finish-order-holder  mx-auto d-flex justify-content-between">
        <div class="form-holder w-25">
            <h3 class="text-left">Issued On</h3>
        </div>
        <div class="price-holder w-50">
            <h3 class="text-right">@Model.IssuedOn.ToString("dd/MM/yyyy")</h3>
        </div>
    </div>

    <hr class="nutri-hr ">
    <div class="finish-order-holder  mx-auto d-flex justify-content-between">
        <div class="form-holder w-25">
            <h3 class="text-left">Receipt</h3>
        </div>
        <div class="price-holder w-75">
            <h3 class="text-right">@Model.Id</h3>
        </div>
    </div>
   
</div>

