@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
    
        <h1 class="text-dark font-weight-bold text-center p-3 w-25 mx-auto rounded ">@ViewData["Title"]</h1>
    

<div class="container-fluid w-25  nutri-border border-info rounded bg-light mx-auto">

    <form method="post" asp-action="/Identity/Account/Login" class="form  p-3  mx-auto mt-3">
        <div class="form-group mx-auto">
            <div class="d-flex justify-content-center">
                <label asp-for="Input.Email" class="text-dark h5">Email</label>
            </div>
            <input type="text"
                   class="form-control text-dark text-center shadow p-3 mb-2 bg-white rounded"
                   id="username"
                   placeholder="Username..."
                   asp-for="Input.Email">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto">
            <div class="d-flex justify-content-center">
                <label asp-for="Input.Password" class="text-dark h5">Password</label>
            </div>
            <input type="password"
                   class="form-control text-dark text-center shadow p-3 mb-2 bg-white rounded"
                   id="password"
                   placeholder="Password..."
                   asp-for="Input.Password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <hr class="hr-2 bg-info mt-4">
        <div class="d-flex justify-content-center mt-3 pb-3">
            <button class="btn btn-info font-weight-bold" type="submit">Login</button>
        </div>
        <div class="form-group text-center">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
    </form>

    

</div>

