@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
    
        
    

    <div class="container-fluid w-25  nutri-border border-info rounded bg-light mx-auto">
        <h1 class="text-dark font-weight-bold text-center pt-3">@ViewData["Title"]</h1>
        <hr class="nutri-hr" />
        <form method="post" asp-action="/Identity/Account/Login" class="form  p-3  mx-auto mt-3">
            <div class="form-group mx-auto">
                <div class="d-flex justify-content-center">
                    <label asp-for="Input.Email" class="text-dark h5">Email</label>
                </div>
                <input type="text"
                       class="form-control text-dark text-center shadow p-3 mb-2 bg-white rounded"
                       id="username"
                       placeholder="Username..."
                       asp-for="Input.Email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group mx-auto">
                <div class="d-flex justify-content-center">
                    <label asp-for="Input.Password" class="text-dark h5">Password</label>
                </div>
                <input type="password"
                       class="form-control text-dark text-center shadow p-3 mb-2 bg-white rounded"
                       id="password"
                       placeholder="Password..."
                       asp-for="Input.Password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
           
            <div class="d-flex justify-content-center mt-3 ">
                <button class="btn btn-info font-weight-bold" type="submit">Login</button>
            </div>

        </form>



    </div>

