@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item "><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) bg-info font-weight-bold text-dark border-bottom" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) bg-info font-weight-bold text-dark border-bottom" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext) bg-info" asp-page="./ExternalLogins">External logins</a></li>
    }

    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) bg-info font-weight-bold text-dark" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
