@model NutriAnimal.Web.ViewModels.Product.CreateProductInputModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Details</h1>

<div class="jumbotron bg-success rounded w-75 pb-3 container-fluid ">

    <h1 class="display-4 text-center">@Model.Name</h1>

    <hr />
    <div class="d-sm-inline-flex ">

        <div class="d-flex flex-row flex-grow-1 ">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_dBQaAfxHEJd7smPWNxb4yReFSO5BEoSp8h2MSAz9ApTT07LQ_A">

        </div>

        <div class="d-flex flex-row-reverse flex-grow-1 pl-5">
            <ul class="list-unstyled">
                <li> <p>@Model.Description</p></li>
                <li><h6>Price: @Model.Price lv.</h6></li>
                <li><h6>Weight: @Model.Weight kg.</h6></li>
                <button type="button" class="btn btn-secondary">Buy</button>
                <button type="button" class="btn btn-secondary">Back</button>

            </ul>
        </div>
    </div>

    <hr />


</div>